.container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    gap: 0px 0px;
    grid-template-areas: 
    "header header"
    "stats steps"
    "summary steps";
}

.header{
    grid-area: header;
    background-color: blue;
}
.stats{
    grid-area: stats;
    background-color: antiquewhite;
}
.summary{
    grid-area: summary;
    background-color: aquamarine;
}
.textbox{
    width: 500px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 18px;
}
.steps{
    grid-area: steps;
    background-color: cadetblue;
}